.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #6a1b9a;
  color: white;
}

.menu-icon {
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.3s ease;
}

.menu-icon:hover {
  transform: rotate(90deg);
}

.profile-icon {
  cursor: pointer;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.user-icon:hover {
  background-color: #e0e0e0; /* Light grey hover effect */
  transform: scale(1.1);
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  left: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

.dropdown-menu.closing {
  animation: fadeOut 0.3s ease-in-out;
}

.dropdown-menu ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
