.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #6a1b9a, #4a0072);
}

.login-form {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 4px solid #6a1b9a; /* Bold outline */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.login-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #6a1b9a;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.login-button:hover {
  background-color: #4a0072;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
}

.login-options label {
  display: flex;
  align-items: center;
}

.forgot-password {
  color: #6a1b9a;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.signup-link {
  margin-top: 20px;
  font-size: 14px;
}

.signup-link span {
  margin-right: 5px;
}

.signup-link button {
  background: none;
  border: none;
  color: #6a1b9a;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  padding: 0;
}

.signup-link button:hover {
  color: #4a0072;
}
