.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.modal-content h2 {
  margin-bottom: 20px;
  color: black; /* Set heading text color to black */
}

.user-detail {
  background-color: #f0f0f0; /* Light gray background for container */
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 18px;
  color: black; /* Set text color to black */
}

.modal-content button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #6a1b9a;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.modal-content button:hover {
  background-color: #4a0072;
}

.logout-button {
  background-color: #d9534f;
  margin-left: 10px; /* Add margin to separate the buttons */
}

.logout-button:hover {
  background-color: #c9302c;
}
